.comment_section_container {
  display: block;
  height: 50%;
  overflow: auto;
  .icon_a {
    width: 25px;
    height: 25px;
  }
  /* 스크롤바 스타일 적용 */
  &::-webkit-scrollbar {
    width: 7px; /* 스크롤바의 너비 */
  }

  &::-webkit-scrollbar-thumb {
    height: 40%; /* 스크롤바의 길이 */
    background: #c4c6c8; /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(233, 236, 239, 1); /* 스크롤바 뒷 배경 색상 */
  }
  .submit {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
    margin: 10px 10px 0 10px;
    textarea[name="review"] {
      width: 250px;
      height: 40px;
      background-color: #f7f7f7;
      outline-color: #0475f4;
      border: none;
      &::placeholder {
        color: #999999;
      }
    }
    button {
      width: 30px;
      height: 30px;
      border: none;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: #f7f7f7;
      cursor: pointer;
      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.comment_section_contents {
  position: relative;
  .comment_section {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, helvetica,
      "Apple SD Gothic Neo", sans-serif;
    &:last-child {
      border-bottom: 1px solid #ecf0f2;
    }
    &.border {
      border-top: 1px solid #ecf0f2;

      p {
        span {
          margin-right: 20px;
          margin-left: 5px;
          color: #777777;
        }
      }
    }
    .comment {
      display: flex;
      align-items: center;
      position: relative;
      padding: 22px 18px;

      .menu_info {
      }
    }
  }
}
