.abc {
  display: flex;
  position: absolute;
}
.baseCard {
  display: flex;
  position: absolute;
  height: 100vh;
  z-index: 2;
  transition: 0.3s ease;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.1);
}
.baseCardClose {
  display: flex;
  position: absolute;
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: 0.3s ease;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.1);
}

.menuContainer {
  position: relative;
  width: 390px;
  z-index: 2;
  height: 100vh;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.1);
}
/* .menuContainerClose {
  position: relative;
  width: 390px;

  z-index: 2;
  height: 100vh;
  transition: 0.3s ease;
} */
/* .toggleCloseBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 3rem;
  background: white;
  border-radius: 10%;
  left: 390px;
  top: 45%;
  z-index: 1;
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid #cbcbcb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 0px -1px 3px rgba(0, 0, 0, 0.1);
} */
.toggleBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 3rem;
  background: white;
  border-radius: 10%;
  left: 390px;
  top: 45%;
  z-index: 1;
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid #cbcbcb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 0px -1px 3px rgba(0, 0, 0, 0.1);
}
.toggleBtn-detail-isShown {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 3rem;
  background: white;
  border-radius: 10%;
  left: 795px;
  top: 45%;
  z-index: 1;
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid #cbcbcb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 0px -1px 3px rgba(0, 0, 0, 0.1);
}

.sideMenu {
  overflow: hidden;
  background-color: white;
  position: absolute;
  height: 100vh;
  /* width: 100%;
  z-index: 2;

  transition: 0.3s ease; */
}

.list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  display: flex;
  list-style: none;
  height: 10%;
  overflow: hidden;
}

.icon {
  margin: auto;
  font-size: 1.5rem;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgb(227, 222, 222);
  cursor: pointer;
}
