/* .form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions a:hover {
  background-color: var(--color-gray-800);
}

#form_container {
  display: flex;
  background-color: antiquewhite;
  width: 500px;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
} */

#form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;

  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.panel_inner {
  position: relative;
  padding: 14px 17px 13px;
}
.id_pw_wrap {
  display: table;
  table-layout: fixed;
  width: 100%;

  box-sizing: border-box;
}

.input_row {
  position: relative;
  display: block;
  height: 100%;
  border: 1px solid #dadada;
  padding: 16px 18px 15px;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
}
.input_row:first-child {
  border-radius: 6px 6px 0 0;
  box-shadow: none;
}
.input_row:last-child {
  border-radius: 0 0 6px 6px;
}

.input_text {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  color: #222;
  box-sizing: border-box;
  z-index: 4;
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}
.btn_login_wrap {
  margin-top: 38px;
}
.btn_login {
  display: block;
  width: 100%;
  padding: 13px 0 13px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #0475f4;
  box-sizing: border-box;
}
.btn_text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
/* .form h1 {
  margin-top: 0;
  font-size: 24px;
}

.form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.form input[type="email"],
.form input[type="password"] {
  width: 270px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form .actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0062cc;
}

.form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */
