

.markerBtn {
  display: flex;
  padding-left: 25px;
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 5px;
  border-radius: 100px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgSize {
  width: 40px;
  height: 100%;
  line-height: 30px;
}
.textSize {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  margin-left: 3px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
