.listBox {
  padding: 15px;
}

.thumbnailBox {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 180px;
}
.thumbnailImage {
  width: 100%;
  height: 100%;
}
.nameText {
  margin-bottom: 0;
}
.descriptionText {
  word-break: break-all;
  margin-top: 0;
}
